<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript">
        function setCookie (name, value) {
            document.cookie = name + '=' + value + "; path=/";
        }

        function getCookie (name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i += 1) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        async function login () {
            const address = (await ethereum.request({ method: 'eth_requestAccounts' }))[0]

            let response = await fetch("/graphql", {
                headers: {
                    "content-type": "application/json",
                },
                method: "POST",
                body: `{"query":"mutation {message: requestAuthentication(address: \\"` + address + `\\")}","variables":null}`
            })

            const message = (await response.json()).data.message
            const signature = await ethereum.request({ method: 'personal_sign', params: [ message, address ] })

            const r = signature.substr(0, 66)
            const s = "0x" + signature.substr(66, 64)

            response = await fetch("/graphql", {
                headers: {
                    "content-type": "application/json",
                },
                method: "POST",
                body: `{"query": "mutation ($address: String!, $signature: InputSignature!){    authentication: authenticate(        address: $address        signedMessage: $signature    ) {        address        isLandlord    }}", "variables": {"address": "` + address + `", "signature": {"v": "0x1c", "r": "` + r + `", "s": "` + s + `"}}}`
            })

            document.getElementById('test').textContent = await response.text()

            let el = document.getElementsByClassName('authentication__authenticate')[0]
            el.parentNode.removeChild(el)
            document.getElementsByClassName('account__address')[0].textContent = address
        }

        window.addEventListener('load', async function () {
            cookie = getCookie('address')
            if (cookie) {
                if (window.ethereum) {
                    const address = (await ethereum.request({ method: 'eth_requestAccounts' }))[0]
                    console.log(cookie, address)
                    if (cookie == address) await success(address)
                    else {
                        let el = document.createElement('p')
                        el.classList.add('authentication__warning')
                        let txt = document.createTextNode('Your MetaMask account is different from the one you authenticated with before')
                        el.appendChild(txt)
                        document.body.appendChild(el)
                    }
                }
            }
            document.getElementsByClassName('authentication__authenticate')[0].onclick = login
        })
        </script>
        <title>Solution-Web</title>
    </head>
    <body>
        <button type="button" class="authentication__authenticate">Login</button>
        <span class="account__address"></span>
        <span id="test">qwe</span>
    </body>
</html>
